.checked{
    color: orange;
}
.white{
color:rgb(220, 218, 218);
}
.text{
    display: flex;

}

.card {
    position:relative;
  }
  .card .card-badge {
    position:absolute;
    top:20px;
    left:15px;
    width: 20%;
    padding: 1px;
    text-align: center;
    background:red;
    color:white;
    border-radius: 10%;
  }